.video-background {
    position: relative;
    height: 100vh; // Высота секции на весь экран
    width: 100vw; // Ширина секции на весь экран

    .background-video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -1; // Видео на заднем плане
        transform: translate(-50%, -50%); // Центрирование видео
        object-fit: cover;
    }

    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); // Центрирование текста
        text-align: center; // Выравнивание по центру

        .title {
            font-size: 1.6em; // Меньший размер текста для мобильных
            font-weight: bold;
            color: white; // Цвет текста
            margin: 0;
            white-space: nowrap; // Запрет переноса текста
            overflow: hidden; // Скрытие лишнего текста
            text-overflow: ellipsis; // Многоточие, если текст не вмещается
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), // Легкое свечение
                0 0 10px rgba(255, 255, 255, 0.7); // Более интенсивное свечение
        }

        .subtitle {
            font-size: 2em; // Чуть больший размер текста для мобильных
            font-weight: bold;
            color: white; // Цвет текста
            margin: 0;
            text-shadow: 0 0 5px rgba(255, 255, 255, 0.7), // Легкое свечение
                0 0 10px rgba(255, 255, 255, 0.7); // Более интенсивное свечение
        }
    }

    &::after {
        content: "О клубе"; // Текст, который будет добавлен
        position: absolute; // Абсолютное позиционирование
        bottom: -1.3em; // Прилегание к нижней части секции
        left: 0; // Начало с левой стороны
        height: 2em; // Высота для более комфортного размещения текста
        width: 100%; // На всю ширину экрана
        background-color: #333; // Темно-серый фон
        padding: 0 20px; // Внутренние отступы (сбоку)
        border-radius: 0 0 1em 1em; // Закругленные нижние углы
        text-align: center; // Центрирование текста
        color: white; // Цвет текста
        z-index: 1; // На переднем плане
        font-size: 1.5em; // Размер шрифта заголовка
        letter-spacing: 0.1em; // Межбуквенное расстояние
        text-transform: uppercase; // Преобразование текста в верхний регистр
        line-height: 2em; // Вертикальное центрирование текста внутри блока

        // Эффект вдавленности
        box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.5), // Внутренняя тень для вдавленности
            0 2px 5px rgba(0, 0, 0, 0.5); // Внешняя тень для эффекта глубины

        text-shadow: 0 0 10px white; // Белое свечение текста
    }


    // Медиа-запрос для ширины 328 пикселей и меньше
    @media (max-width: 328px) {
        .text-overlay {
            .title {
                font-size: 1em; // Уменьшение размера текста для малых экранов
                white-space: normal; // Разрешение переноса текста
            }

            .subtitle {
                font-size: 1.5em; // Уменьшение размера текста для малых экранов
                white-space: normal; // Разрешение переноса текста
            }
        }
    }

    // Медиа-запросы для планшетов
    @media (min-width: 678px) {
        .text-overlay {
            .title {
                font-size: 2em; // Увеличение размера текста для планшетов
            }

            .subtitle {
                font-size: 2.5em; // Увеличение размера текста для планшетов
            }
        }
    }

    // Медиа-запросы для ноутбуков
    @media (min-width: 1024px) {
        .text-overlay {
            .title {
                font-size: 3em; // Увеличение размера текста для ноутбуков
            }

            .subtitle {
                font-size: 3.5em; // Увеличение размера текста для ноутбуков
            }
        }
    }
}

.slider-slide {
    height: 80vh;
}

.slider {
    position: relative;
    height: 80vh;
    margin: 20px 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    top: -2em;
}

.slider-slides {
    position: relative;
    height: 100%;
    transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
    will-change: transform;
}

.slider-slide {
    float: left;
    height: 100%;
    background-position: 50% 50%;
    background-size: cover;
    object-fit: cover;
}

.slider-dots {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
}

.slider-dot,
.slider-indicator {
    display: block;
    margin: 0 5px;
    height: 14px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    cursor: pointer;
}

.slider-indicator {
    position: absolute;
    background: white;
    width: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

.slider-indicator-left {
    transition: left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.slider-indicator-right {
    transition: left 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.slider-slide {
    height: 80vh;
    position: relative;

    .slide-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-position: 50% 50%;
        background-size: cover;
        filter: grayscale(100%) blur(5px);
        z-index: 1;
    }

    .slide-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 1em 2em;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 1.2em;
        text-align: center;
        border-radius: 1em;
        user-select: none;
        z-index: 2;
        height: 20em;
        width: 15em;
        backdrop-filter: blur(10px); // Эффект матового стекла
        -webkit-backdrop-filter: blur(10px); // Для поддержки в Safari


        @media (min-width: 678px) {
            width: 30em;
            height: 22em;
        }

        @media (min-width: 1024px) {
            width: 40em;
            height: 22em;
        }
    }

    .text-about-club {
        font-size: 0.7em;

        @media (min-width: 678px) {
            font-size: 1em;
        }

    }

    .text-image {
        width: 100%;
        height: 64%;
        object-fit: cover;
        margin-top: 0.5em;
        border-radius: 1em;
        user-select: none; // Предотвращает выделение
        pointer-events: none; // Предотвращает взаимодействие с изображением
        transition: transform 0.3s ease; // Анимация для увеличения

        &:hover {
            transform: scale(1.05); // Увеличение изображения при наведении
        }

        @media (min-width: 678px) {
            width: 100%;
            height: 75%;
        }

        @media (min-width: 1024px) {
            width: 100%;
            height: 75%;
        }
    }
}




.unique-order-section {
    display: flex;
    justify-content: center;
    background-color: #333;
}

.unique-order-button {
    margin-bottom: 2.5em;
    display: inline-block;
    padding: 15px 30px;
    background-color: #555555;
    /* Темно-серый фон */
    color: #f5f5f5;
    /* Белый цвет текста */
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    text-shadow:
        1px 1px 2px #ffffff43,
        0 0 5px rgba(246, 219, 10, 0.217);
    transition: transform 0.3s ease, background-color 0.3s ease;
    /* Плавный переход */
}

.unique-order-button:hover {
    transform: scale(1.1);
    /* Увеличение при наведении */
    background-color: #4d4d4d;
    /* Более светлый оттенок серого при наведении */
}

/* Фон для модального окна */
.modal {
    display: none; /* Скрыто по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Темно-серый полупрозрачный фон */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

/* Содержимое модального окна */
.modal-content {
    background-color: #333;
    padding: 2em;
    width: 90%;
    max-width: 500px; /* Максимальная ширина окна */
    border-radius: 8px;
    position: absolute; /* Сделаем модальное окно позиционированным */
    top: 50%; /* Сдвигаем окно вниз на 50% от высоты экрана */
    left: 50%; /* Сдвигаем окно вправо на 50% от ширины экрана */
    transform: translate(-50%, -50%); /* Сдвигаем окно назад на 50% от его собственных размеров */
}

/* Кнопка закрытия (крестик) */
.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}

/* Заголовок модального окна */
.modal-header {
    text-align: center;
    color: #fff;
    margin-bottom: 1em;
}

/* Стили для полей ввода */
.modal-input {
    width: 100%;
    padding: 0.8em;
    margin: 0.5em 0;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
    box-sizing: border-box;
}

/* Кнопка отправки */
.submit-button {
    padding: 0.8em;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    margin-top: 1em;
}

.submit-button:hover {
    background-color: #777;
}

/* Адаптивность */
@media (max-width: 600px) {
    .modal-content {
        width: 90%;
    }
}


/* Стилизация кнопки */
.modal__order-btn {
    border: 1px solid #333; /* Бордер 1px темно-серого цвета */
    background-color: #333; /* Темно-серый фон */
    color: white; /* Белый цвет текста */
    padding: 1em 1em; /* Очень маленькие отступы для уменьшения высоты */
    font-size: 14px; /* Меньший размер шрифта */
    border-radius: 3px; /* Скругление углов */
    display: inline-block; /* Убирает лишние свойства кнопки */
    text-align: center; /* Центрирует текст */
    cursor: pointer; /* Указатель при наведении */
    transition: background-color 0.3s, border-color 0.3s; /* Плавный переход */
}

/* Эффект при наведении */
.modal__order-btn:hover {
    background-color: #444; /* Меняем фон на немного светлее при наведении */
    border-color: #555; /* Меняем бордер на более светлый при наведении */
}

/* Эффект при фокусе */
.modal__order-btn:focus {
    outline: none; /* Убираем стандартную обводку при фокусе */
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); /* Добавляем эффект фокуса */
}



// .modal {
//     display: none;
//     /* Скрыто по умолчанию */
//     position: fixed;
//     z-index: 1001;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     background-color: rgba(88, 88, 88, 0.8);
//     /* Полупрозрачный черный фон */
// }

// .modal-content {
//     position: absolute;
//     /* Изменено с relative на absolute */
//     top: 40%;
//     /* Позиционируем на 50% от верха */
//     left: 50%;
//     /* Позиционируем на 50% от левого края */
//     transform: translate(-50%, -50%);
//     /* Сдвигаем обратно на 50% от ширины и высоты */
//     padding: 2em;
//     background-color: #2f2f2f;
//     /* Темно-серый фон */
//     color: #f5f5f5;
//     /* Белый цвет текста */
//     max-width: 100%;
//     /* Максимальная ширина модального окна */
//     text-align: center;
//     border-radius: 8px;
//     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
//     width: 20em;
//     height: 26em;
//     padding-top: 4em;

//     // Медиа-запрос для экранов 300px и меньше
//     @media (max-width: 300px) {
//         width: 16em; // Ширина чуть больше
//         height: 31em;
//         padding-top: 4em;
//     }

//     // Медиа-запрос для планшетов
//     @media (min-width: 678px) {
//         width: 70%; // Увеличенная ширина для планшетов
//         height: 15em;
//         padding-top: 3em;
//     }

//     // Медиа-запрос для ноутбуков и ПК
//     @media (min-width: 1024px) {
//         width: 70%; // Увеличенная ширина для ноутбуков и ПК
//         height: 15em;
//         padding-top: 3em;
//     }
// }


// .modal-header {
//     font-weight: bold;
//     /* Жирный текст */
//     font-size: 24px;
//     /* Размер заголовка */
// }

// .modal-contacts {
//     margin-top: -0.1em;
//     font-size: 18px;
// }

// .modal-link {
//     color: #ffffff;
//     /* Ссылки серого цвета */
//     text-decoration: none;
// }

// .close-button {
//     position: absolute;
//     top: 10px;
//     right: 20px;
//     color: #f5f5f5;
//     font-size: 28px;
//     cursor: pointer;
//     transition: transform 0.2s ease;
// }

// .close-button:hover {
//     transform: scale(1.1);
//     /* Небольшое увеличение при наведении */
// }

// .modal-link {
//     color: inherit;
//     font-size: 1.5em;
//     transition: transform 0.3s ease;
//     text-decoration: none;
//     margin-left: 0.2em;

//     &:hover,
//     &:active {
//         transform: scale(1.4);
//     }
// }

// .modal-phone {
//     font-size: 1em;
// }

// .whatsapp-icon {
//     color: #25D366;

//     &:hover,
//     &:active {
//         color: #1EBE54;
//     }
// }

// .telegram-icon {
//     color: #0088CC;

//     &:hover,
//     &:active {
//         color: #007AB8;
//     }
// }

// .vk-icon {
//     color: #4680C2;

//     &:hover,
//     &:active {
//         color: #3B70A4;
//     }
// }



.contacts {
    padding: 1em;
    background-color: #333;
    text-align: center;

    &__title {
        font-size: 1.8em;
        font-weight: bold;
        margin-bottom: 0.5em;
        color: #ffffff;
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
        background: linear-gradient(145deg, #2e2e2e, #383838); // Создает градиентный эффект
        box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.6),
            inset -4px -4px 8px rgba(255, 255, 255, 0.1); // Эффект вдавленности
        padding: 0.5em;
        border-radius: 8px; // Округляем углы
    }

    &__info {
        margin-bottom: 1em;
    }

    &__phone {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 0.5em;
        color: #ffffff;
    }

    &__subtitle {
        font-size: 1.3em;
        font-weight: bold;
        margin-top: 1em;
        margin-bottom: 0.5em;
        color: #ffffff;
        text-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
    }

    &__socials {
        display: flex;
        justify-content: center;
        gap: 0.5em;

        .social-link {
            font-size: 2.1em;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.1);
            }

            &.vk {
                color: #4c75a3;
            }

            &.telegram {
                color: #0088cc;
            }

            &.whatsapp {
                color: #25d366;
            }
        }
    }

    &__address {
        font-size: 1em;
        color: #ffffff;
        margin-bottom: 1em;
    }

    &__map {
        height: 200px;
        background-color: #ddd;
    }
}

.map-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: auto;

    iframe {
        width: 100%;
        height: 400px; // Фиксированная высота для iframe
        border: 0;
    }

    a {
        color: #eee;
        font-size: 12px;
        position: absolute;
        top: 0;
    }

    a:nth-child(2) {
        top: 14px;
    }
}











.gallery-slider {
    position: relative;
    width: 100vw;
    /* Полная ширина экрана */
    height: 100vh;
    /* Полная высота экрана */
    margin: 0;
    /* Убираем внешние отступы */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.gallery-slider-slides {
    position: relative;
    width: 100%;
    /* Полная ширина родителя */
    height: 100%;
    /* Полная высота родителя */
    transition: transform 0.3s cubic-bezier(0.51, 0.92, 0.24, 1);
    will-change: transform;
}

.gallery-slider-slide {
    float: left;
    width: 100%;
    /* Каждое изображение занимает полную ширину */
    height: 100%;
    /* Каждое изображение занимает полную высоту */
    background-position: 50% 50%;
    background-size: cover;
    margin-top: 5em;
}
@media (max-width: 768px) {
    .gallery-slider-slide {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}

.gallery-slider-dots {
    display: flex;
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
}

.gallery-slider-dot,
.gallery-slider-indicator {
    display: block;
    margin: 0 5px;
    height: 14px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    cursor: pointer;
}

.gallery-slider-indicator {
    position: absolute;
    background: white;
    width: auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

.gallery-slider-indicator-left {
    transition: left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.gallery-slider-indicator-right {
    transition: left 0.3s 0.1s cubic-bezier(0.51, 0.92, 0.24, 1.15), right 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

.text-decoration {
    position: absolute;
    background-color: #333;
    /* Темно-серый фон */
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.7),
        /* Основное внутреннее затенение */
        inset 0 0 15px rgba(0, 0, 0, 0.7);
    /* Более мягкое внутреннее затенение */
    border-radius: 0 0 1em 1em;
    /* Закругленные нижние углы */
    height: 7em;
    /* Высота 7em */
    width: 100%;
    /* Ширина 100% */
    z-index: 1;
    /* z-index 1 */

    display: flex;
    /* Используем Flexbox для центрирования */
    justify-content: center;
    /* Центрируем по горизонтали */
    align-items: flex-end;
    /* Выравниваем по вертикали к нижней части */
    padding-bottom: 0.4em;
    /* Отступ снизу для текста */
    color: white;
    /* Цвет текста белый */
    text-shadow: 0 0 10px white;
    /* Белое свечение текста */

    p {
        font-size: 1.5em;
    }
}






.services {
    background-color: #2d2d2d;
    padding: 2em;
    text-align: center;

    h2 {
        background-color: #333;
        color: #fff;
        padding: 0.5em;
        font-size: 2em;
        width: 100%; // Ширина заголовка 90%
        margin: 1em auto 0; // Отступ сверху 1em и центрирование
        height: 2em;
        border-radius: 0.5em; // Закругленные углы
        box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.6); // Чуть меньшая и менее интенсивная тень
        display: flex;
        align-items: center;
        justify-content: center;

        text-shadow: 0 0 1px #fff, 0 0 2px #fff; // Уменьшенное свечение текста
    }


    &__buttons {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-bottom: 1em;
        margin-top: 0.5em;

        .services__button {
            padding: 0.5em 1em;
            border: none;
            background-color: #555;
            color: #fff;
            cursor: pointer;
            border-radius: 5px;

            &.active {
                background-color: #888;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 1em;
    }

    &__card {
        background-color: #333;
        color: #fff;
        padding: 1em;
        border-radius: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center; // Центрирует содержимое по горизонтали
        justify-content: flex-start;
        height: 21em; // Фиксированная высота для одинакового размера карточек
        transition: transform 0.1s ease, box-shadow 0.1s ease; // Плавный переход для масштабирования и тени
        will-change: transform, box-shadow;

        &:hover,
        &:active {
            transform: scale(1.05); // Увеличение на 5%
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); // Добавление тени
        }

        img {
            width: 100%;
            height: 150px; // Ограничение высоты для изображения
            object-fit: cover; // Сохранение пропорций изображения
            border-radius: 5px;
        }

        .services__title {
            font-weight: bold;
            margin: 0.5em 0;
            font-size: 1em;
        }

        .services__price {
            font-size: 1.2em;
            color: #bbb; // Подберите цвет, если хотите выделить цену
        }

        .services__details-btn {
            display: block;
            padding: 0.5em;
            background-color: #888;
            color: #fff;
            text-align: center;
            border-radius: 5px;
            text-decoration: none;
            margin-top: auto; // Подтягивает кнопку вниз карточки
            width: 9em;
        }
    }
}


/* Стиль для модального окна */
/* Основные стили для модального окна */
.modal {
    display: none;
    /* Скрываем модальное окно по умолчанию */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Полупрозрачный фон */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal__content {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 80%;
    text-align: center;
    position: relative;
}

.modal__close {
    position: absolute;
    top: -0.1em;
    right: 10px;
    font-size: 2em;
    cursor: pointer;
}

.modal__service-details {
    margin-bottom: 20px;
}

.modal__contacts {
    margin-top: 20px;
    text-align: center;
    /* Центрируем текст */
}

.modal__contacts p {
    font-weight: bold;
    margin: 10px 0;
}

.modal__phone {
    margin-top: 10px;
}

/* Основные стили для иконок */
.modal__socials {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icon {
    font-size: 2em;
    margin: 0 10px;
    text-decoration: none;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
    /* Увеличение при наведении */
    opacity: 0.8;
    /* Немного уменьшить прозрачность */
}

/* Убираем стили для цвета, чтобы иконки оставались в своих стандартных цветах */
.social-icon.vk i {
    color: #4c75a3;
    /* Цвет ВКонтакте */
}

.social-icon.tg i {
    color: #0088cc;
    /* Цвет Telegram */
}

.social-icon.wa i {
    color: #25d366;
    /* Цвет WhatsApp */
}




.calendar-container {
    text-align: center;
    padding: 1em;
    height: auto;
    width: auto;

    h2 {
        margin-bottom: 1em;
        font-size: 2em;
        color: #fff;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.8); // Белое свечение
        border-radius: 8px;
        background: linear-gradient(145deg, #2e2e2e, #383838); // Создает градиентный эффект
        box-shadow: inset 4px 4px 8px rgba(0, 0, 0, 0.6),
            inset -4px -4px 8px rgba(255, 255, 255, 0.1); // Эффект вдавленности
        height: 2.5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .calendar-frame {
        width: 100%;
        height: auto; // Устанавливаем автоматическую высоту для мобильных устройств
        margin: 0 auto;

        iframe {
            width: 100%;
            height: 100%; // Позволяем iframe заполнять весь контейнер по высоте и ширине
            border: 1px solid #eee;
            transform-origin: top left;
        }
    }

    // Медиа-запрос для экранов от 678px
    @media (min-width: 678px) {
        .calendar-frame {
            max-width: 100%; // На более широких экранах занимает всю ширину
            height: 450px; // Задаём фиксированную высоту для планшетов и десктопов
        }
    }

    // Для экранов от 300 до 677 пикселей — увеличиваем высоту
    @media (min-width: 300px) and (max-width: 677px) {
        .calendar-frame {
            height: 30em; // Увеличенная высота для мобильных устройств
            width: 100%;
        }
    }

}
